@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Monoton&display=swap');
.MyNavbar{
  display: block;
  font-family: 'Monoton', cursive;
}
.title {
  font-family: 'Luckiest Guy', cursive;
}