@import url('https://fonts.googleapis.com/css?family=Teko:600&display=swap');
.EditDonation{
  display: block;
  font-family: 'Teko', sans-serif;
}

.bg-image { 
  height:100vh-1600*94;
  background: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/291-jir-095445465656-nam.jpg?auto=format&bg=F4F4F3&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-1.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1200&s=f2fd7bb0bbcbd5278715854dc98c0514");
  background-size: cover;
  background-position: center center ; 
  background-size: cover;
  background-attachment: fixed;
}
.card-donate{
  border: 10px double black;
  position: relative;
  width: 300px;
  margin: 0 auto;
  background-color: white;
}